<div class="page-header">
  <h1>All Statuses</h1>
</div>

<%= link_to "Create new post", new_status_path, class: "btn btn-success" %>

<% @statuses.each do  |status| %>
  <div class="status">
    <strong><%= status.nombre%></strong>
    <p><%= status.contenido%></p>
    <div>
      <%= link_to time_ago_in_words(status.created_at) +" Ago", status %>
      <span class="admin">
        | <%= link_to "Edit", status_path(status)%> |
        <%= link_to "Delete", status, method: :delete, data:{confirm:"¿Estas seguro de borrar este estado?"} %>
      </span>
    </div>
  </div>
<% end %>